<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>upload_dir</title>
	</head>

	<body>
		<a href="/welcome/games">Back<a/>
		<div id='InfosUpload'>
			<span>
				<p>A file, load.json must be a the top level folder.</p>
				<p>cat load.json </br>
				<pre>
{
	"config":
	{
		"name":	"name of the game",
		"main":	"theNameOfTheMainFile" //ex: "index.js" or "src/index.js"
	}
}
				</pre>
				</p>
				<p>
					Il doivent fournir une commande de lancement qui prend en parametre un numero de port qui leur sera fourni.
				</p>
				<p>The function "process.send({state:"READY"});"
					must be add in the callback of the function "server.listen"</br>
					ex: </br>
					<pre>
server.listen(PORT, function () {
	process.send({state:"READY"});
})
					</pre>
				</p>
			</span>
		</div>
		<div id="UploadBox">
			<span id='UploadAreaForm'>
				<label for="FileBox">Choose A folder: </label><input type="file" id="FileBox" webkitdirectory directory multiple><br>
				<label for="NameBox">Name: </label><input type="text" id="NameBox"><br>

				<button  type='button' id='UploadButton' class='Button'>Upload</button>
			</span>
			<span id='UploadArea'>
			</span>
		</div>

	<script src="/socket.io/socket.io.js"></script>
	<!-- Ressource partagé à toute les applis ! Rajouté un / devant l'url -->
	<script src="/static/js/jquery-3.2.1.js" charset="utf-8"></script>

	<script type="text/javascript" src="/static/js/upload_dir.js" charset="utf-8">
	</script>

	</body>
</html>
