<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Ressource partagé à toute les applis ! Rajouté un / devant l'url -->
    <script src="/static/js/jquery-3.2.1.js" charset="utf-8"></script>

    <!-- Ressource appartenant à l'appli  -->
    <link rel="stylesheet" href="/static/css/welcome.css" media="screen" title="no title" charset="utf-8">

    <title></title>
  </head>
  <body>
    <form id="formName" action="chooseGame" method="get" target="_self">
      <br>
      <br>
      <br>
      <input type="text" id="cyborgNameInput" class="form-control input-lg" placeholder="Entrez votre nom">
      <br>
      <br>
      <br>
      <br>
      <button type="submit"  id="validFormName">
        <img src="/static/img/ok.png" alt="Valid form">
      </button>
    </form>

  </body>
  <script type="text/javascript">
    // On accede à l'objet cyborg en cours grace à : window.parent.cyborg
    var cyborg = window.parent.cyborg;

    //Get cyborg name
    jQuery('#formName').submit(function () {
      var cyborgName = jQuery('#cyborgNameInput').val();
      cyborg.changeName(cyborgName.toString());
    });

  </script>
</html>
