<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>  <%= idJoueur %> </h1>
    <form action="choix" method="POST">
      <input type="hidden" name="idJoueur" value="j#{idJoueur}">
      <input type="radio" name="choix" value="pierre" > Pierre <br>
      <input type="radio" name="choix" value="feuille"> Feuille <br>
      <input type="radio" name="choix" value="ciseaux"> Ciseaux <br>
      <button type="submit">OK</button>
    </form>
  </body>
</html>
