html{
  height: 100%;
}

body{
  background-color: black;
  height: 100%;
  color: white;
  font-size: 1em;
  font-family: monospace;
  font-weight: bold;
}



#header {
    height: 7%;
}


#main {
  height: 85%;
}

.main {
  height: 100%;
}
iframe{
  border: none;
  width: 100%;
}

footer {
  height: 5%;
  text-align: center;
}

#numberOfPlayerZone{
    text-align: center;
}
